<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Logfly</title>
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />  
       <!-- if necessary remove datatables references -->
    <link rel="stylesheet" href="../../../assets/css/home.css">
    <!-- if necessary some specifics css will be added like leaflet.css -->
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        let $ = require('jquery');
    </script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>  
    <script src="../../../lang/gettext.js" type="text/javascript"></script>
    <div class="wrapper">
        <div id="content">
            <!-- Main page content -->
            <h3 id="title">filter</h3>
            <!-- Bloc 1 -->
            <div class="mb-4">
                <h5>Classes</h5>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbA" value="0" checked>
                        <label class="form-check-label" for="cbA">A</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbB" value="1" checked>
                        <label class="form-check-label" for="cbB">B</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbC" value="2" checked>
                        <label class="form-check-label" for="cbC">C</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbD" value="3" checked>
                        <label class="form-check-label" for="cbD">D</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbE" value="4" checked>
                        <label class="form-check-label" for="cbE">E</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbF" value="5">
                        <label class="form-check-label" for="cbF">F</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbG" value="6">
                        <label class="form-check-label" for="cbG">G</label>
                    </div>
                </div>
            </div>

            <!-- Bloc 2 -->
            <div class="mb-4">
                <h5>Types</h5>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbPro" value="3" checked>
                        <label class="form-check-label" for="cbPro">Prohibited</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbRes" value="1" checked>
                        <label class="form-check-label" for="cbRes">Restricted</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbDan" value="2" checked>
                        <label class="form-check-label" for="cbDan">Danger</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbCtr" value="4">
                        <label class="form-check-label" for="cbCtr">CTR</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbTma" value="7">
                        <label class="form-check-label" for="cbTma">TMA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbRmz" value="6">
                        <label class="form-check-label" for="cbRmz">RMZ</label>
                    </div>
                <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbTmz" value="5">
                        <label class="form-check-label" for="cbTmz">TMZ</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbGli" value="21">
                        <label class="form-check-label" for="cbGli">Gliding</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="cbOth" value="0">
                        <label class="form-check-label" for="cbOth">Other</label>
                    </div>                
                </div>
            </div>

            <!-- Bloc 3 -->
            <div class="mb-4">
                <h5 id="lb-floor">Floor</h5>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd5" value="500" checked>
                        <label class="form-check-label" for="frd5">500m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd10" value="1000">
                        <label class="form-check-label" for="frd10">1000m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd15" value="1500">
                        <label class="form-check-label" for="frd15">1500m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd20" value="2000">
                        <label class="form-check-label" for="frd20">2000m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd25" value="2500">
                        <label class="form-check-label" for="frd25">2500m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd30" value="3000">
                        <label class="form-check-label" for="frd30">3000m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd35" value="3500">
                        <label class="form-check-label" for="frd35">3500m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd40" value="4000">
                        <label class="form-check-label" for="frd40">4000m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="floorBelow" id="frd50" value="5000">
                        <label class="form-check-label" for="frd50">5000m</label>
                    </div>               
                </div>
            </div>

            <!-- Bloc 4 -->
            <div class="mb-4" id ="rd-radius">
                <h5>Rayon</h5>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="bloc4radio" id="rd5" value="50" checked>
                        <label class="form-check-label" for="rd5">50km</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="bloc4radio" id="rd10" value="100">
                        <label class="form-check-label" for="rd10">100km</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="bloc4radio" id="rd15" value="150">
                        <label class="form-check-label" for="rd15">150km</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="bloc4radio" id="rd20" value="200">
                        <label class="form-check-label" for="rd20">200km</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="bloc4radio" id="rd25" value="250">
                        <label class="form-check-label" for="rd25">250km</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="bloc4radio" id="rd30" value="300">
                        <label class="form-check-label" for="rd30">300km</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="bloc4radio" id="rd40" value="400">
                        <label class="form-check-label" for="rd40">400km</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="bloc4radio" id="rd50" value="500">
                        <label class="form-check-label" for="rd50">500km</label>
                    </div>
                </div>
            </div>

            <!-- Ajout des boutons sous les blocs -->
            <div class="mb-4 d-flex justify-content-center">
                <br>
                <button id="bt-cancel" class="btn btn-danger mr-4" type="button">Annu</button>
                <button id="bt-ok" class="btn btn-success" type="button">Ok</button>
            </div>
        </div>
        <!-- End of main page content -->
    </div>   
    <!-- End of page content -->
    <script type="text/javascript">
        var i18n = window.i18n();
    </script>  
    <script src="../../../views/js/secondary/airmenu.js" type="text/javascript"></script>
</body>