<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Logfly</title>
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="../../../assets/css/fullmap.css">  
    <link rel="stylesheet" href="../../../assets/css/font-awesome-450.min.css">  
    <link rel="stylesheet" href="../../../../node_modules/leaflet/dist/leaflet.css" />   
    <link rel="stylesheet" href="../../../leaflet/leaflet.awesome-markers.css" />   
    <link rel="stylesheet" href="../../../leaflet/sidebar-tabless.css" />   

</head>

<body  style="background: linear-gradient(90deg, rgba(80,83,77,1) 1%, rgba(184,187,181,1) 66%, rgba(211,224,212,0.969625350140056) 100%); background-image: url('../../../assets/img/nuages.jpg');">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        let $ = require('jquery');
    </script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>    
    <script src="../../../lang/gettext.js" type="text/javascript"></script>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-sm bg-light">
            <button type="button" id="bt-close" class="btn btn-outline-danger btn-sm">
                <i class="fa fa-close"></i>
            </button>
            <button type="button" id="bt-infos" class="btn btn-outline-primary btn-sm" style="margin-left:60px">Informations</button>
            <button type="button" id="bt-mes" class="btn btn-outline-primary btn-sm" style="margin-left:10px">Mesurer</button>
            <button type="button" id="wintitle" class="btn btn-outline-success btn-sm" style="margin-left:300px">Mesurer 2</button>           
    </nav>
    <!-- Begin page content -->
    <div id="carte"></div>
    <div id="graphe"></div>
    <div id="sidebar" class="leaflet-sidebar collapsed">
      <div class="leaflet-sidebar-content"></div>
    </div>

    <script type="text/javascript">
        var i18n = window.i18n();
    </script>  
    <script src="../../../views/js/secondary/fullmaplog.js" type="text/javascript"></script>          
</body>

</html>