<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Logfly</title>
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />  
       <!-- if necessary remove datatables references -->
    <link rel="stylesheet" href="../../../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../../../node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
    <link rel="stylesheet" href="../../../../node_modules/bootstrap-select/dist/css/bootstrap-select.css" />     
    <link rel="stylesheet" href="../../../assets/css/home.css">
    <!-- if necessary some specifics css will be added like leaflet.css -->
    <link href="../../../../node_modules/@danielfarrell/bootstrap-combobox/css/bootstrap-combobox.css" type="text/css">
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        let $ = require('jquery');
        // jQuery datatables script
        const dtbs = require('datatables.net-bs4')()   
        const dtselect = require( 'datatables.net-select-bs4' )() 
        const conmenu = require('jquery-contextmenu')           
    </script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>
    <script>require('../../../../node_modules/@danielfarrell/bootstrap-combobox/js/bootstrap-combobox')</script>
    <script src="../../../lang/gettext.js" type="text/javascript"></script>
    <div class="wrapper">
        <div id="content">
          <div class="col-md-6">  <!-- pour réduire la taille de la card -->
            <div class="card top-buffer">
                <div class="card-header">
                    <h4 class="card-title" id="lb-manu-title" >Flight without GPS track</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                          <div class="col-md-4 pr-1">
                            <label id="lb-manu-date">Date</label>
                          </div>
                          <div class="col-md-1 pr-1"></div> 
                          <div class="col-md-4 pr-1">
                            <label id="lb-manu-time">Take-off time</label>
                          </div>                                                                     
                        </div>
                        <div class="row">
                              <div class="col-md-4 pr-1">                                   
                                <input type="date" id="tx-manu-date" required>
                              </div>     
                              <div class="col-md-1 pr-1"></div>    
                              <div class="col-md-4 pr-1">                                   
                                <input type="time" id="tx-manu-time" required>
                              </div>                                                                                                                            
                        </div>  
                        <div class="row top-buffer">
                          <div class="col-md-8 pr-1">
                            <label id="lb-manu-duration">Duration</label>
                          </div>
                        </div>         
                        <div class="row">
                           <div class="col-sm-4 my-1">     
                            <input type="time" id="tx-manu-dur" max="12:00" required>                         
                          </div>
                        </div>          
                        <div class="row top-buffer">
                          <div class="col-md-8 pr-1">
                            <label id="lb-manu-glider">Glider</label>
                          </div>
                        </div>         
                        <div class="row">
                          <div class="col-sm-4 my-1">     
                              <select class="custom-select mr-sm-4" id="sel-glider"></select>                                 
                          </div>
                        </div>                                          
                        <div class="row top-buffer">
                          <div class="col-md-8 pr-1">
                            <label id="lb-manu-tkoff">Take off</label>
                          </div>
                        </div>
                        <div class="row">
                              <div class="col-sm-6 my-1">                                    
                                <select class="combobox form-control" id="sel-sites" onchange="updateSelSite()">
                                </select>
                              </div>
                              <div class="col-auto my-1 align-self-center">
                                <button type="button" class="btn btn-light" id="bt-new">New site</button>
                              </div> 
                        </div>    
                        <div class="row">
                          <div class="col-md-8 pr-1">
                            <span class="badge badge-light" id="sel-site">Aucun site sélectionné</span>
                          </div>
                        </div>  
                        <div class="row top-buffer">
                          <div class="col-md-8 pr-1">
                            <label id="lb-manu-comment">Comment</label>
                          </div>                                                                                             
                        </div>    
                        <div class="row">
                          <div class="col-sm-11 my-1">                                    
                            <textarea class="form-control" id="tx-comment" rows="4"></textarea>
                          </div>
                        </div>     
                        <div class="row top-buffer">
                          <div class="col-sm-7 my-1">                                                                                          
                          </div>
                          <div class="col-auto my-1 align-self-center">
                            <button type="button" class="btn btn-danger" id="bt-cancel">Cancel</button>
                          </div>                                                                                                      
                          <div class="col-auto my-1 align-self-center">
                              <button type="button" class="btn btn-success" id="bt-ok">OK</button>
                          </div>
                        </div>                              
                    </form>
                </div>
              </div>
          </div>
        </div>
        <!-- End of main page content -->
    </div>   
    <!-- End of page content -->
    <script type="text/javascript">
        var i18n = window.i18n()
        $(document).ready(function(){
          $('.combobox').combobox()
        });
    </script>  
    <script src="../../../views/js/secondary/siteslist.js" type="text/javascript"></script>
</body>