<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Logfly</title>
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />  
       <!-- if necessary remove datatables references -->
    <link rel="stylesheet" href="../../../assets/css/home.css">
    <!-- if necessary some specifics css will be added like leaflet.css -->
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        let $ = require('jquery');
    </script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>  
    <script src="../../../lang/gettext.js" type="text/javascript"></script>
    <div class="wrapper">
        <div id="content">
            <!-- Main page content -->
            <div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-5 savelabel"  style="text-align: right;" id="lb-title">Wp prefix</div>     
                    <div class="col-1" style="text-align: left;"><input type="text" value="XLF" id="ipt-prefix" size="4" style="font-weight: bold;text-transform: uppercase;"></div>             
                </div>
                <div class="row"><br></div>
                <div class="row">
                    <div class="col-1"><span class="spinner-border spinner-border text-danger d-none" id="waiting-spin"></span></div>  
                    <div class="col-1"><img src="../../../assets/img/message.png"></div> 
                    <div class="col-3" id="lb-mail" style="text-align: right;">Mail to</div>     
                    <div class="col-7" ><input type="text" value="" id="ipt-mail" size="30" style="font-weight: bold;"></div>                             
                </div>
                <div class="row" style="margin-top: 10px;">
                      <!--   <div class="card-block mx-auto">  -->
                            <div class="card-text">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th width="80%"></th>
                                            <th width="10%"></th>
                                            <th width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td id="save-gpxrte" class="savelabel">GPX route</td>
                                        <td><a href="#"><img src="../../../assets/img/save.png" onclick="savegpxroute(false,false)"></a></td>
                                        <td><a href="#"><img src="../../../assets/img/message.png" onclick="savegpxroute(false,true)"></a></td>
                                    </tr>
                                    <tr>
                                        <td id="save-gpxtot" class="savelabel">GPX route markers</td>
                                        <td><a href="#"><img src="../../../assets/img/save.png" onclick="savegpxroute(true,false)"></a></td>
                                        <td><a href="#"><img src="../../../assets/img/message.png" onclick="savegpxroute(true,true)"></a></td>
                                    </tr>                                    
                                    <tr>
                                        <td id="save-gpxwpt" class="savelabel">GPX waypoints</td>
                                        <td><a href="#"><img src="../../../assets/img/save.png" onclick="savegpxtask(false)"></a></td>
                                        <td><a href="#"><img src="../../../assets/img/message.png" onclick="savegpxtask(true)"></a></td>
                                    </tr>
                                    <tr>
                                        <td id="save-cup" class="savelabel">SeeYou</td>
                                        <td><a href="#"><img src="../../../assets/img/save.png" onclick="savecup(false)"></a></td>
                                        <td><a href="#"><img src="../../../assets/img/message.png" onclick="savecup(true)"></a></td>
                                    </tr>
                                    <tr>
                                        <td id="save-kml" class="savelabel">Kml</td>
                                        <td><a href="#"><img src="../../../assets/img/save.png" onclick="savekml(false)"></a></td>
                                        <td><a href="#"><img src="../../../assets/img/message.png" onclick="savekml(true)"></a></td>
                                    </tr>                                    
                                    <tr>
                                        <td id="save-xctrack" class="savelabel">XCTrack</td>
                                        <td><a href="#"><img src="../../../assets/img/save.png" onclick="savexctrack(false)"></a></td>
                                        <td><a href="#"><img src="../../../assets/img/message.png" onclick="savexctrack(true)"></a></td>
                                    </tr>
                                    <tr>
                                        <td id="save-dump" class="savelabel">GpsDump</td>
                                        <td><a href="#"><img src="../../../assets/img/save.png" onclick="savedump(false)"></a></td>
                                        <td><a href="#"><img src="../../../assets/img/message.png" onclick="savedump(true)"></a></td>
                                    </tr>                                                                                     
                                    </tbody>
                                </table>
                            </div>
                       <!--  </div>   -->

                </div>
                <div class="row top-buffer">
                    <div class="center">
                        <button type="button" class="btn btn-danger" id="bt-cancel">Cancel</button>
                    </div>
                  </div>   
            </div>
        </div>
        <!-- End of main page content -->
    </div>   
    <!-- End of page content -->
    <script type="text/javascript">
        var i18n = window.i18n();
    </script>  
    <script src="../../../views/js/secondary/xcnavsave.js" type="text/javascript"></script>
</body>