<!-- You can define as many templates as you like in a single .htm file; just add additional <script /> blocks with unique ids. --> 
<script id="temp-menu" type="text/html">               
        <nav id="sidebar" class="active">
            <div class="sidebar-header" id="dismiss">
                <!-- <h4><img src="../../assets/img/Logo_JS_48_Blc.png" class="d-inline-block align-bottom" alt="">&nbsp;&nbsp;Logfly</h4>  -->
                <img src="../../assets/img/Logo_Jne_80.png" style="margin: auto;display: block;" alt="">
            </div>
            <ul class="list-unstyled components">
              <li>
                <a href="#logbook" onclick="callPage('logbook')">{{logbook}}</a>
              </li>    
              <li>
                <a href="#overview" onclick="callPage('overview')">{{overview}}</a>
              </li>    
              <li>
                <a href="#import" onclick="callPage('import')">{{import}}</a>
              </li>             
              <li>
                <a href="#external" onclick="callPage('external')">{{external}}</a>
              </li>    
              <li>
                <a href="#stat" onclick="callPage('stat')">{{stat}}</a>
              </li>    
              <li>
                <a href="#sites" onclick="callPage('sites')">{{sites}}</a>
              </li>        
              <li>
                <a href="#waypoints" onclick="callPage('wayp')">{{wayp}}</a>
              </li>    
              <li>
                <a href="#airspaces" onclick="callPage('airspaces')">{{airspaces}}</a>
              </li>    
              <li>
                <a href="#equipment" onclick="callPage('equip')">{{equipment}}</a>
              </li>        
              <li>
                <a href="#settings" onclick="callPage('settings')">{{settings}}</a>
              </li>           
              <li>
                <a href="#tools" onclick="callPage('utils')">{{utils}}</a>
              </li>                           
              <li>
                <a href="#support" onclick="callPage('support')">{{support}}</a>
              </li>                                                                                         
            </ul>   
            <div class="sidebar-footer">
              <label class="custom-check"><input type="checkbox" id="menucheck" onclick="changeMenuState(this)"/>{{still}}</label>
<!--              <input type="checkbox" class="custom-check"id="menucheck">             
              <label class="label-check" for="menucheck">Menu fixed</label>  -->
            </div>
          </script>
        </nav>
</script> 