<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Logfly</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="../../assets/css/home.css">    
    <!-- if necessary some specifics css will be added like leaflet.css -->
    <link rel="stylesheet" href="../../../node_modules/leaflet/dist/leaflet.css" />   
    <link rel="stylesheet" href="../../assets/css/font-awesome-450.min.css">   
    <link rel="stylesheet" href="../../leaflet/sidebar-tabless.css" />     
    <link rel="stylesheet" href="../../../node_modules/leaflet.control.layers.tree/L.Control.Layers.Tree.css" crossorigin=""/>
    <link rel="stylesheet" href="../../leaflet/leaflet-areaselect.css" />
  
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>  
    <div class="wrapper">
        <!-- Sidebar  -->
        <div id="target-sidebar"></div>
        <div id="content">
            <!-- Horizontal navbar with menu button and different options -->
            <nav class="navbar navbar-expand-lg  navbar-custom">
                <div class="container-fluid">
                    <button type="button" id="toggleMenu" class="btn btn-outline-primary"">Menu On</button>
                    <!--- le mx3 a été trouvé sur https://stackoverflow.com/questions/48068539/how-to-add-space-inbetween-nav-items-in-bootstrap heck connections
                    <span class="navbar-text mx-3" id="db-state"></span> -->
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li>
                                <p class="navbar-text d-none" style="margin-right: 10px;color: #0275d8;" id="lb-file"></p>      
                            </li>
                            <li>
                                <p class="navbar-text d-none" style="margin-right: 10px;color: #0275d8;" id="lb-floor"></p>      
                            </li>
                            <li>   
                                <select class="custom-select mr-sm-8 d-none" style="margin-right: 10px" id="sel-floor" onchange="changeFloor()"></select>          
                            </li>        
                            <li>       
                                <p class="navbar-text d-none" style="margin-left: 10px;margin-right: 10px;color: #0275d8;" id="lb-rest"></p>   
                            </li>
                            <li class="checkbox d-none" style="margin-top: 7px;margin-right: 10px;color: #0275d8;" id="lb-checkbox">
                                <input id="ch-rest" type="checkbox" onclick="changeRestricted()">
                            </li>                              
                            <li class="nav-item">
                                <a class="nav-link d-none" id="reset" href="#"></a>
                            </li>                                
                            <li class="nav-item">
                                <a class="nav-link d-none" id="save" style="margin-right: 50px;"href="#"></a>
                            </li> 
                            <li class="nav-item">
                              <a class="nav-link" id="sel-open" href="#"></a>
                            </li>            
                            <li class="nav-item">
                                <a class="nav-link" id="last-used" href="#"></a>
                            </li>                                
                            <li class="nav-item">
                                <a class="nav-link" id="bazile" href="#"></a>
                            </li>                                
                        </ul>
                    </div>                    
                </div>
            </nav>  
            <!-- End of horizontal nabar  -->
            <!-- Main page content -->
            

                    <div id="mapid" class="map-full" style="margin-top: 10px;"></div>
                    <div id="infobar" class="leaflet-sidebar collapsed">
                        <div class="leaflet-sidebar-content"></div>
                    </div>
                    <div class="d-none">
                        <p id="info-panel">Coucou mon Gilou...</p>
                    </div>
                    <!--
                    <div class="form-group" style="margin-top: 10px;">
                        <textarea class="form-control d-none" id="report-txt" rows="5"></textarea>
                    </div>
                    -->
                
            
            <!-- End of main page content -->
        </div>
    </div>    
    <script src="../../views/js/airspaces.js" type="text/javascript"></script>
</body>