<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logfly</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="../../assets/css/fullmap.css">  
    <link rel="stylesheet" href="../../assets/css/font-awesome-450.min.css">  
    <link rel="stylesheet" href="../../../node_modules/leaflet/dist/leaflet.css" />   
    <link rel="stylesheet" href="../../leaflet/leaflet.awesome-markers.css" />   
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBjulTHPOBLYvqnnm6FS8YAVJtqvJkG2A"></script>

</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        let $ = require('jquery');
    </script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>    
    <script src="../../lang/gettext.js" type="text/javascript"></script>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="color:rgb(255, 0, 0);" id="bt-close" href="#">Close</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="bt-pathway" href="#">Pathway</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
      </nav>
      <!-- Begin page content -->
        <div id="carte">carte</div>
        <div id="graphe">graphe</div>
        <div id="sideNavigation" class="sidenav"></div>

    <script type="text/javascript">
        var i18n = window.i18n();
    </script>  
    <!-- https://24ways.org/2005/have-your-dom-and-script-it-too -->
    <img src="../../assets/img/loaded.gif" alt="" onload="$.getScript('../../views/js/fullmap.js');" />            
</body>

</html>