<link rel="stylesheet" href="../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
<!-- Arrow has a bad location in dropdown links, we remove it-->
<style>
  .dropdown-toggle::after {
    content: none;
  }
</style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info" onclick ="{ $('#sidebar').toggleClass('active'); }">
              <i class="fas fa-align-left"></i>
              <span>Menu</span>
          </button>
          <button type="button" id="run-test" class="btn btn-primary">Test</button>
          <!-- le mx3 a été trouvé sur https://stackoverflow.com/questions/48068539/how-to-add-space-inbetween-nav-items-in-bootstrap heck connections-->
          <span class="navbar-text mx-3" id="db-state"></span>
          <!--- https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp 
                pour comprendre les possibilités immenses de cette navbar 
          -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                  <!-- Dropdown -->
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Import GPS</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" id="imp-gps-flysd" href="#">Flymaster SD</a>
                      <a class="dropdown-item" id="imp-gps-flyold" href="#">Flymaster Old</a>
                      <a class="dropdown-item" id= "imp-gps-fly20" href="#">Flytec 6020/30</a>
                      <a class="dropdown-item" id= "imp-gps-fly15" href="#">Flytec 6015</a>
                      <a class="dropdown-item" id="imp-gps-syr" href="#">Syride</a>
                      <a class="dropdown-item" id="imp-gps-xct" href="#">XCTracer</a>
                      <a class="dropdown-item" id="imp-gps-rever" href="#">Reversale</a>
                      <a class="dropdown-item" id="imp-gps-sky2" href="#">Skytraax 2</a>
                      <a class="dropdown-item" id="imp-gps-sky3" href="#">Skytraax 3</a>
                      <a class="dropdown-item" id="imp-gps-oud" href="#">Oudie</a>
                      <a class="dropdown-item" id="imp-gps-cpil" href="#">CPilot</a>
                      <a class="dropdown-item" id="imp-gps-elem" href="#">Element</a>
                      <a class="dropdown-item" id="imp-gps-conn" href="#">Connect</a>            
                      <a class="dropdown-item" id="imp-gps-vardui" href="#">Varduino</a>  
                      <a class="dropdown-item" id="imp-gps-flynet" href="#">Flynet</a>
                      <a class="dropdown-item" id="imp-gps-sens" href="#">Sensbox</a>              
                      <div class="dropdown-divider"></div>
                      <a href="#"class="dropdown-item">Trash</a>                      
                    </div>
                  </li>                   
                  <li class="nav-item">
                    <a class="nav-link" id="imp-disk" href="#">Import disque</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="imp-manu" href="#">Import manuel</a>
                  </li>                   
              </ul>
          </div>
      </div>
    </nav>

<div>
  <div class="alert alert-info collapse" role="alert" id="status"></div>  
  <div id="myconsole"></div>
  <div id ="img_waiting" class="d-none" style="text-align:center"><img src="./assets/img/waiting.gif" alt=""></img></div>
  <table id="table_invisible" class="table table-striped table-bordered d-none" style="width:100%;">
    <tbody>
    </tbody>
  </table>  
  <!-- Cette table servira à TOUS les imports : disk, usb et serie -->
  <table id="tableimp_id" class="table table-striped table-bordered d-none" style="width:100%;">
    <tbody>
    </tbody>
  </table>
</div>
<img src="./assets/img/loaded.gif" alt="" onload="$.getScript('./views/js/import.js');this.parentNode.removeChild(this);" />