<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-info" onclick ="{ $('#sidebar').toggleClass('active'); }">
          <i class="fas fa-align-left"></i>
          <span>Menu</span>
      </button>
      <!--- le mx3 a été trouvé sur https://stackoverflow.com/questions/48068539/how-to-add-space-inbetween-nav-items-in-bootstrap heck connections-->
      <span class="navbar-text mx-3" id="db-state"></span>
      <!--- https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp 
            pour comprendre les possibilités immenses de cette navbar 
      -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="lnk_logbook" href="#">Logbook</a>
          </li>     
          <li class="nav-item">
            <a class="nav-link" id="lnk_pilot" href="#pilot">Pilot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="lnk_map" href="#">Map</a>
          </li>              
          <li class="nav-item">
            <a class="nav-link" id="lnk_misc" href="#"" >Miscellaneous</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link" id="lnk_web" href="#"" >Web</a>
          </li>                        
      </ul>
      </div>
  </div>
</nav>
<div>
  <div class="container-fluid">
    <div id="accordionDiv">

        <div id="div_logbook">
            <div class="row">
                <div class="col-md-8">
                  <div class="card top-buffer">
                    <div class="card-header">
                        <h4 class="card-title" id="lg_logbook" >Logbook</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                              <div class="col-md-8 pr-1">
                                <label id="lg-working-path">Working folder path</label>
                              </div>
                            </div>
                            <div class="row">
                                  <div class="col-sm-8 my-1">                                    
                                      <input type="text" class="form-control" id="tx-work-path" disabled="" value="/Users/gil/pCloud Drive/Logfly_data">
                                  </div>
                                  <div class="col-auto my-1 align-self-center">
                                      <button type="button" class="btn btn-outline-info" id="bt-work-path">Modify</button>
                                  </div>
                            </div>
                            <div class="row top-buffer">
                              <div class="col-md-8 pr-1">
                                <label id="lg-folder-path">Current logbook folder</label>
                              </div>
                            </div>         
                            <div class="row">
                              <div class="col-sm-8 my-1">                                    
                                  <input type="text" class="form-control" id="tx-log-path" disabled="" value="/Users/gil/pCloud Drive/Logfly_data">
                              </div>
                            </div>       
                            <div class="row top-buffer">
                              <div class="col-md-8 pr-1">
                                <label id="lg-curr-logbook">Current logbook</label>
                              </div>
                            </div>         
                            <div class="row">
                              <div class="col-sm-4 my-1">     
                                  <select class="custom-select mr-sm-4" id="sel-logbook">
                                  </select>                                 
                              </div>
                            </div>                                   
                            <div class="row top-buffer">
                              <div class="col-sm-8 my-1">                                    
                                <input type="text" class="form-control" id="lg-log-folder" disabled="" value="Choose a new logbook folder">
                              </div>
                              <div class="col-auto my-1 align-self-center">
                                  <button type="button" class="btn btn-outline-info" id="bt-choose-folder">Choose</button>
                              </div>
                            </div>                                                                             
                            <div class="row top-buffer">
                              <div class="col-sm-8 my-1">                                    
                                <input type="text" class="form-control" id="lg-move-logbook" disabled="" value="Move logbook(s) to a different folder">
                              </div>
                              <div class="col-auto my-1 align-self-center">
                                  <button type="button" class="btn btn-outline-info" id="bt-move-folder">Move</button>
                              </div>
                            </div>         
                            <div class="row top-buffer">
                              <div class="col-sm-8 my-1">                                    
                                <input type="text" class="form-control" id="lg-new-logbook" disabled="" value="Create a new logbook">
                              </div>
                              <div class="col-auto my-1 align-self-center">
                                  <button type="button" class="btn btn-outline-info" id="bt-new-logbook">Create</button>
                              </div>
                            </div>      
                            <div class="row top-buffer">
                              <div class="col-sm-8 my-1">                                    
                                <input type="text" class="form-control" id="lg-repatriate" disabled="" value="Recover a copy">
                              </div>
                              <div class="col-auto my-1 align-self-center">
                                  <button type="button" class="btn btn-outline-info" id="bt-repatriate">Recover</button>
                              </div>
                            </div>                                                                           

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
          </div>  

        <div id="div_pilot" style="display:none">
          <h1>Pilote</h1>    
          <p>paramètres concernant le pilote</p>
        </div>

        <div id="div_map" style="display:none">
          <h1>Carte</h1>    
          <p>paramètres concernant la cartographie</p>      
        </div>

        <div id="div_misc" style="display:none">
          <h1>Miscellaneous</h1>    
          <p>paramètres divers</p>
        </div>

        <div id="div_web" style="display:none">
          <h1>Internet</h1>    
          <p>paramètres des url internet</p>
        </div>

        <button class="btn btn-outline-danger top-buffer" id="bt-close">Close</button>
      </div>
  </div>
</div>
<img src="./assets/img/loaded.gif" alt="" onload="$.getScript('./views/js/settings.js');this.parentNode.removeChild(this);" />