<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Logfly</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="../../assets/css/home.css">
    <!-- if necessary some specifics css will be added like leaflet.css -->
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>  
    <div class="wrapper">
        <!-- Sidebar  -->
        <div id="target-sidebar"></div>
        <div id="content">
            <!-- Horizontal navbar with menu button and different options -->
            <nav class="navbar navbar-expand-lg  navbar-custom">
                <div class="container-fluid">
                    <button type="button" id="toggleMenu" class="btn btn-outline-primary"">Menu On</button>
                    <!--- le mx3 a été trouvé sur https://stackoverflow.com/questions/48068539/how-to-add-space-inbetween-nav-items-in-bootstrap heck connections-->
                    <span class="navbar-text mx-3" id="db-state"></span>
                    <!--- https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp pour comprendre les possibilités immenses de cette navbar -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                              <a class="nav-link" id="option1" href="#">Option 1</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="option2" href="#">Option 2</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="option3" href="#">Option 3</a>
                            </li>              
                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarrend" data-toggle="dropdown">Dropdown</a>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" id="drop1" href="#">Drop 1</a>
                                <a class="dropdown-item" id="drop2" href="#">Drop 2</a>
                                </div>
                            </li>                    
                        </ul>
                    </div>
                </div>
            </nav>  
            <!-- End of horizontal nabar  -->
            <!-- Main page content -->
            <div>
                <div class="container-fluid">
                    <h1>This is the main content</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>     
                    <!-- End of main page content -->
                </div>
            </div>
        </div>
    </div>    
    <script src="../../views/js/skeleton.js" type="text/javascript"></script>
</body>