<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Logfly</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="../../assets/css/home.css">
    <link rel="stylesheet" href="../../assets/css/dashboard.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome-450.min.css">  
    <!-- if necessary some specifics css will be added like leaflet.css -->
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>let $ = require('jquery');</script>
    <script>require('popper.js');</script>
    <script>require('bootstrap');</script>  
    <div class="wrapper">
        <!-- Sidebar  -->
        <div id="target-sidebar"></div>
        <div id="content">
            <!-- Horizontal navbar with menu button and different options -->
            <nav class="navbar navbar-expand-lg  navbar-custom">
                <div class="container-fluid">
                    <button type="button" id="toggleMenu" class="btn btn-outline-primary"">Menu On</button>
                    <!--- le mx3 a été trouvé sur https://stackoverflow.com/questions/48068539/how-to-add-space-inbetween-nav-items-in-bootstrap heck connections-->
                    <span class="navbar-text mx-3" id="db-state"></span>
                    <!--- https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp pour comprendre les possibilités immenses de cette navbar -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <select class="nav-link" style="margin-right: 20px;" id="sel-year-begin" onchange="changeRef()"></select>
                            </li>
                            <li class="nav-item">
                                <select class="nav-link" style="margin-right: 20px;" id="sel-year-end" onchange="changeRef()"></select>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="gr-yearly" href="#"></a>
                            </li>                           
                            <li class="nav-item">
                              <a class="nav-link" id="gr-monthly" href="#"></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="gr-glider" href="#"></a>
                            </li>           
                            <li class="nav-item">
                                <a class="nav-link" id="gr-site" href="#"></a>
                              </li>                    
                        </ul>
                    </div>
                </div>
            </nav>  
            <!-- End of horizontal nabar  -->
            <!-- Main page content -->
            <div>
                <div class="container">
                    <div style="margin-top: 20px;">                    
                        <div class="row">
                            <div class="col-3">
                                <div class="card bg-primary text-white h-60">
                                    <div class="card-body bg-primary">
                                        <div class="rotate">
                                            <i class="fa fa-calendar fa-4x"></i>
                                        </div>
                                        <h5 class="text-uppercase"  style="text-align: center;" id="card-year">2017-2021</h5>
                                        <h5 class="text-uppercase" style="text-align: center;" id="card-period">3 ans 8 mois</h5>
                                    </div>
                                </div>
                            </div>    
                            <div class="col-3">
                                <div class="card bg-success text-white h-60">
                                    <div class="card-body bg-success">
                                        <div class="rotate">
                                            <i class="fa fa-paper-plane fa-4x"></i>
                                        </div>
                                        <h5 style="text-align: center;" id="card-hours">160h25</h5>
                                        <h5 style="text-align: center;" id="card-flights">234 vols</h5>
                                    </div>
                                </div>
                            </div>                                
                            <div class="col-3">
                                <div class="card bg-info text-white h-60">
                                    <div class="card-body bg-info">
                                        <div class="rotate">
                                            <i class="fa fa-bookmark fa-4x"></i>
                                        </div>
                                        <h5 style="text-align: center;" id="card-avg-hr">56h45/an</h5>
                                        <h5 style="text-align: center;" id="card-avg-fl">34vols/an</h5>
                                    </div>
                                </div>
                            </div>    
                            <div class="col-3">
                                <div class="card bg-warning text-white h-60">
                                    <div class="card-body bg-warning">
                                        <div class="rotate">
                                            <i class="fa fa-database fa-4x"></i>
                                        </div>
                                        <h5 style="text-align: center;" id="card-gliders">34 voiles</h5>
                                        <h5 style="text-align: center;" id="card-sites">116 sites</h5>
                                    </div>
                                </div>
                            </div>                               
                        </div>    
                        <div class="row">
                                <div class="card w-100"> 
                                    <div class="card-header d-none" style="text-align: center;margin-bottom: 10px;" id="gr-header-month">
                                        <script id="template-month" type="x-tmpl-mustache">
                                            <h4>{{Monthly}}  {{dates}}  {{select}}</h4>
                                            <form>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="check1">
                                                <input type="checkbox" class="form-check-input" id="check1" value="something">‘{{jan}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="check2">
                                                <input type="checkbox" class="form-check-input" id="check2" value="something">{{feb}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" id="check3" value="something">{{mar}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="check1">
                                                <input type="checkbox" class="form-check-input" id="check4" value="something">{{apr}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="check2">
                                                <input type="checkbox" class="form-check-input" id="check5" value="something">{{may}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" id="check6" value="something">{{jun}}
                                                </label>
                                            </div>         
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="check1">
                                                <input type="checkbox" class="form-check-input" id="check7" value="something">{{jul}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="check2">
                                                <input type="checkbox" class="form-check-input" id="check8" value="something">{{aug}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" id="check9" value="something">{{sep}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="check1">
                                                <input type="checkbox" class="form-check-input" id="check10" value="something">{{oct}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="check2">
                                                <input type="checkbox" class="form-check-input" id="check11" value="something">{{nov}}
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" id="check12" value="something">{{dec}}
                                                </label>
                                            </div>                
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" id="check-all" onclick="checkAll()">{{all}}
                                                </label>
                                            </div>                                                                                                             
                                            <button type="button" class="btn btn-primary" onclick="displayMonthGraph()">{{display}}</button>
                                            </form>
                                        </script>
                                    </div>
                                    <div class="card-header d-none" style="text-align: center;margin-bottom: 10px;" id="gr-header-glider">
                                        <script id="template-glider" type="x-tmpl-mustache">
                                            <h4>{{gliders}}</h4>
                                            <form>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label" for="rdg1"></label>
                                                <input class="form-check-input" type="radio" name="rdGliders" id="rdg1" value="5" checked>{{top5}}                                                
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="rdg2"></label>
                                                <input class="form-check-input" type="radio" name="rdGliders" id="rdg2" value="10">{{top10}}
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="rdg3"></label>
                                                <input class="form-check-input" type="radio" name="rdGliders" id="rdg3" value="20">{{top20}}
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="rdgall"></label>
                                                <input class="form-check-input" type="radio" name="rdGliders" id="rdgall" value="1000">{{all}}
                                            </div>                                                                                                           
                                            <button type="button" class="btn btn-primary" onclick="displayGliderGraph()">{{display}}</button>
                                            </form>
                                    </script>
                                    </div>                                                                             
                                    <div class="card-block">                                    
                                        <div id="container-graphe"></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div id = "footer-2" class="col-4" style="text-align: center;"><p>Footer disponible voir Overview</p></div>   
                                            <div class="col-4"></div>                                        
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>                       
                </div>
            </div>
            <!-- End of main page content -->
        </div>
    </div>    
    <script src="../../views/js/statistics.js" type="text/javascript"></script>
</body>